name: Deploy static content to GitHub Pages

on:
  push:
    branches:
      - main
      - gh-pages
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Install Dependencies
        run: npm install
        working-directory: samjsui

      - name: Build Project
        run: npm run build
        working-directory: samjsui

      - name: List build directory contents
        run: ls -la ./build
        working-directory: samjsui

      - name: Archive artifact
        run: |
          tar --dereference --hard-dereference --directory $INPUT_PATH -cvf $RUNNER_TEMP/artifact.tar --exclude=.git --exclude=.github .
        env:
          GITHUB_PAGES: true
          INPUT_PATH: ./samjsui/build
          RUNNER_TEMP: ${{ runner.temp }}

      - name: Upload Build Artifacts
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./samjsui/build
          name: github-pages
          retention-days: 1
        env:
          GITHUB_PAGES: true
